@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.next-video-nav {
  padding: 0 1rem 1rem 1rem;

  @include tablet {
    padding-top: 0.5rem;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }

  @include desktop {
    border-left: 2px solid $secondary-color-3;
    padding-right: 8rem;
    padding-left: 1.5rem;
  }
}

.next-video {
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 100%;
    padding-top: 24px;
  }

  &__label {
    color: $primary-color-3;
    margin-bottom: 8px;
    margin-top: 0px;
    font-size: 12px;

    @include tablet {
      margin-bottom: 16px;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 8px 0;
    border-radius: 8px;

    @include tablet {
      padding: 12px 0;
      width: 45%;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__link {
    background-color: $secondary-color-3;
    flex-shrink: 0;
    width: 7.12rem;
    height: auto;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 4px;
    background-color: #e1e1e1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__author {
    margin: 0;
  }

  &__title {
    margin: 0;
  }

  &__details {
    flex: 1;
  }
}
