@use "../partials/typography" as *;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;

* {
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  color: $primary-color-1;
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;

  @include tablet {
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-style: normal;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-style: normal;
}

textarea,
input {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  background-color: $secondary-color-4;
  color: $primary-color-1;
  border-radius: 4px;
  border: 1px solid $secondary-color-3;
  opacity: 1;
  outline: none;
  resize: none;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &::placeholder {
    color: $primary-color-1;
  }

  &:focus {
    border: 2px solid $primary-color-2;
  }
}

button {
  width: 100%;
  height: 2.5rem;
  position: relative;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-style: normal;
  background-color: $primary-color-2;
  color: $primary-color-4;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  @include tablet {
    width: 9.375rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 0.75rem;
  }

  &:hover {
    background-color: $secondary-color-2;
  }
}

.error {
  border: 1px solid $error-color;
}

.divider {
  margin: 0;
  border: 1px solid $secondary-color-3;

  &--headline {
    @include tablet {
      display: none;
    }
  }

  &--comments-list {
    @include desktop {
      display: none;
    }
  }

  &--big {
    display: none;
    @include tablet {
      display: block;
    }
  }
}

.button {
  &__icon {
    position: absolute;
    top: 0.6rem;
    left: 0.75rem;
    width: 1.25rem;
  }

  &--cancel,
  &--cancel:hover {
    background-color: $primary-color-4;
    color: $primary-color-2;

    @include tablet {
      margin: 1.5rem 0;
    }
  }

  &--publish {
    margin: 1.5rem 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row-reverse;
    }
  }
}

.profile {
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  top: 3.55rem;
  right: 1rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: $secondary-color-3;

  @include tablet {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 0;
    right: 0;
  }

  &__image {
    width: auto;
    height: 106%;
    margin-left: -4px;
  }

  &--comments {
    position: relative;
    top: 1.5rem;
    right: 0;
  }
}

.loader {
  padding: 1rem;
  text-align: center;
  color: $primary-color-1;
}
