@font-face {
  font-family: "Avenir Next Regular";
  src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("/src/assets/fonts/alternative/AvenirNextLTPro.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("/src/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
    url("/src/assets/fonts/alternative/AvenirNextLTProDemi.ttf")
      format("truetype");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("/src/assets/fonts/alternative/AvenirNextLTProBold.ttf")
      format("truetype");
}
