$primary-color-1: #323232; /* BrainFlix-Black */
$primary-color-2: #0095ff; /* BrainFlix-Blue */
$primary-color-3: #afafaf; /* Silver */
$primary-color-4: #ffffff; /* White */
$secondary-color-1: #000000; /* BrainFlix-DarkBlack */
$secondary-color-2: #0065ad; /* BrainFlix-DarkBlue */
$secondary-color-3: #e1e1e1; /* Mercury */
$secondary-color-4: #fafafa; /* Alabaster */
$error-color: #d22d2d;
$font-regular: "Avenir Next Regular", sans-serif;
$font-demi: "Avenir Next Demi", sans-serif;
$font-bold: "Avenir Next Bold", sans-serif;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
