@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-upload {
  padding: 0.5rem 1rem 1rem 1rem;

  @include tablet {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    padding-bottom: 0;
  }

  @include desktop {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  &__right {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex: 1;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 33%;
    }
  }

  &__heading {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include tablet {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__container {
    @include desktop {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      padding-top: 0.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__thumbnail-wrapper {
    width: 100%;

    // @include tablet {
    //   width: 50%;
    // }
  }

  &__thumbnail {
    width: 100%;
  }

  &__label {
    color: $primary-color-3;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
  }

  &__input {
    padding: 0.5625rem 0.75rem;
  }

  &__textarea {
    height: 5rem;
    padding: 0.5625rem 0.75rem;

    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
}
