@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-comments {
  display: flex;
  gap: 1rem;
  padding-bottom: 16px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
    align-items: end;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__label {
    color: $primary-color-3;
  }

  &__input {
    padding: 0.5625rem 0.75rem;
    height: 6em;

    @include tablet {
      width: auto;
      padding: 0.6875rem 1rem;
    }
  }
}
