@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: $primary-color-4;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include tablet {
    justify-content: end;
    flex-direction: row;
    padding: 1rem 2.25rem;
    gap: 1.5rem;
  }

  @include desktop {
    padding: 1rem 8rem;
  }
}

.logo {
  max-width: 7.5rem;
  max-height: 1.5625rem;

  @include tablet {
    margin-right: auto;
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
