@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-player {
  background-color: $secondary-color-1;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0 12rem;
  }

  &__link {
    width: 100%;
    aspect-ratio: 9/6 auto;
  }
}
