@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search {
  width: 100%;
  position: relative;

  @include tablet {
    width: auto;
  }

  &__icon {
    position: absolute;
    top: 0.6rem;
    left: 0.75rem;

    @include tablet {
      top: 0.7rem;
    }
  }

  &__input {
    width: calc(100% - 6rem);
    padding: 0.5625rem 0.75rem 0.5625rem 2.2rem;

    @include tablet {
      width: 15rem;
      padding: 0.6875rem 1rem 0.6875rem 2.2rem;
    }
  }
}
