@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  padding: 0.5rem 1rem 1rem 1rem;

  @include tablet {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }

  @include desktop {
    padding-right: 0;
    padding-left: 8rem;
  }

  &__title {
    margin: 0;
    padding-bottom: 1rem;
  }
}
