@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  display: flex;
  position: relative;
  background-color: $primary-color-1;

  &__video-link {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
